@model ACDDS.TreasureHunter.Web.Models.CharacterResponse

@{
    ViewData["Title"] = "Character";
}
@if (TempData["OkMessage"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @TempData["OkMessage"]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

@if (TempData["BRMessage"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        @TempData["BRMessage"]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

<h4 style="text-align:center; color:brown;font-family:cursive">Get ready before an adventure!</h4>
<p>Hi <span style="color:olive"><b>@Model.Name!</b></span></p>
<p>Below listed are all you have!!. Go ahead and <strong>Shop Equipment</strong> to make yourself stronger!!</p>


<div>

    <hr />
    <dl class="row">       
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HitPoints)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HitPoints)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Luck)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Luck)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Wealth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Wealth)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Equipment)         
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Equipment.Count)
        </dd>
    </dl>
   <br />
        @if (Model.Equipment!=null && Model.Equipment.Count>0)
         {
            <p style="color:darkcyan"><b> Equipment Owned Details:</b></p>             

          <table class="table table-sm">
            <thead class="table-secondary">
                <tr>
                    <th>Name</th>
                    <th>HpModifier</th>
                    <th>LuckModifier</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Equipment)
                 {
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.HpModifier</td>
                        <td>@item.LuckModifier</td>
                    </tr>

                 }
            </tbody>
          </table>        
         }
        
</div>

